*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #0A6376;
}
.container{
    width: 80%;
    top: 10%;
    left: 10%;
    background: white;
    border-radius: 10px;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    
}
#clearButton{
    position: relative;
    padding: 30px 20px;
}
h1{
    padding: 0px;
    color: #111111;
    font-family: 'Poppins',sans-serif;
}

#clearButton button{
    position: relative;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #08B1AB;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}

#entries{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.entry{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #92D8D3;
    background-color: #C1EBEC;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.entry span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

